<!DOCTYPE html>
<html>
<head>
	<title>Cost Calculator</title>
</head>
	<body>
		<h2>To Calculate the cost of Product</h2>
		<hr><hr>
			<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js">
			</script>
			<div ng-app>
				<h3>COST CALCULATOR</h3> 
				Quantity<input ng-model="first"  placeholder="First number"  type="text" />
				Price<input ng-model="second" placeholder="Second number" type="text" />
  				<h3> Total Cost:Rs{{first*second}} </h3>
			</div>
		</div>
	</body>
</html>